h5 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img {
    max-width: 100%;
    height: 250px;
}
.card-style p span {
    font-size: 15px;
}
.card-style p strong {
    font-size: 18px;
}
.controls {
    cursor: pointer;
}
@media (max-width: 575px) {
    img {
        max-width: 300px;
        margin: 0 auto;
    }
}
/* product details */
.prod-det {
    width: 60%;
}
@media (max-width: 575px) {
    .prod-det {
        width: 100%;
    }
}
/* wishlist */
.item-wrapper {
    width: 60%;
}
.empty-img{
width: 100px;
height:100px;
}
.img-wrapper,
.img-wrapper-shop {
    transition: 0.5s;
}
.img-wrapper::after,
.img-wrapper-shop::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.img-wrapper button,
.img-wrapper span,
.img-wrapper-shop .card-btns {
    font-size: 17px;
    z-index: 5;
    display: none !important;
    transition: 0.5s;
}
.img-wrapper:hover::after,
.img-wrapper-shop:hover::after {
    opacity: 0.7;
}
.img-wrapper:hover button,
.img-wrapper:hover span,
.img-wrapper-shop:hover .card-btns {
    display: block !important;
}
.img-wrapper img {
    width: 120px !important;
    height: 120px !important;
}
.wishlist-wrapper span {
    cursor: pointer;
}
.details-wrapper {
    width: 75% !important;
}
@media (max-width: 992px) {
    .item-wrapper {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .item-wrapper {
        width: 90%;
    }
    .img-wrapper img {
        width: 150px !important;
        height: 150px !important;
    }
}
@media (max-width: 575px) {
    .details-wrapper {
        width: 100% !important;
    }
}
