.hero .swiper {
    width: 100%;
    height: 60vh;
}

.hero .swiper-slide {
    background-position: center;
    background-size: cover;
}

.hero .swiper-slide .slide1,
.hero .swiper-slide .slide2 {
    display: block;
    width: 100%;
    height: 100%;
}

.hero .slide1 {
    background-image: url(../../assets/hero-images/hero1.jpg);
    background-size: cover;
}
.hero .slide2 {
    background-image: url(../../assets/hero-images/hero4.jpg);
    background-size: cover;
}
.hero .content h6 {
    font-family: 'Dancing Script', cursive;
    color: #e64848;
    font-size: 30px;
}
.hero .content p {
    line-height: 1.8;
}
.hero .slide1 .content,
.hero .slide2 .content {
    width: 50%;
    padding: 50px;
}
@media (max-width: 992px) {
    .hero .slide2 {
        background-position: right center;
    }
    .hero .slide1 .content,
    .hero .slide2 .content {
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .hero .swiper {
        height: 50vh;
    }
    .hero .slide1,
    .hero .slide2 {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .hero .slide1 {
        background-image: unset;
        background-color: #fff0ec;
    }
    .hero .slide2 {
        background-image: unset;
        background-color: #d8f0f2;
    }
    .hero .slide1 .content,
    .hero .slide2 .content {
        width: 80%;
        margin: 0 auto !important;
    }
}
