nav {
    border-bottom: 1px solid #d5d5d583;
}
nav a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover {
    color: #e64848;
}
.links {
    list-style: none;
}
.logo a {
    color: #e64848;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}
.controls span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    top: -25%;
    right: -70%;
}
