@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none !important;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    z-index: 5;
    transition: 0.5s;
}
.alert {
    width: 50%;
    z-index: 10;
    transition: 0.5s;
}
.preloader {
    height: 80vh;
}
@media (max-width: 992px) {
    .alert {
        width: 75%;
    }
}
@media (max-width: 768px) {
    .alert {
        width: 90%;
    }
}
