form,
h2 {
    width: 60%;
}
form input:focus {
    box-shadow: none !important;
    border-width: 2px !important;
}
@media (max-width: 992px) {
    form,
    h2 {
        width: 75%;
    }
}
@media (max-width: 786px) {
    form,
    h2 {
        width: 90%;
    }
}
